<odin-page-heading
  [title]="'Funcionários'"
  [links]="breadCrumbsLinks"
></odin-page-heading>

<div class="flex mt-4 ms-4 justify-between">
  <div class="flex items-center">
    <button
      type="button"
      class="button-primary button-sm col-span-full row-end-1 col-start-1"
      (click)="handleOpenDetails('new')"
    >
      <ng-icon class="mr-1" name="heroPlus"></ng-icon>
      Novo Funcionário
    </button>
    <div class="relative ml-3">
      <button
        type="button"
        class="button-gray-none button-sm row-end-1 col-start-1"
        (click)="toggleActionMenu()">
        <ng-icon name="heroEllipsisVertical" size="24"></ng-icon>
      </button>
      <div *ngIf="showActionMenu" class="absolute left-0 z-10 mt-2 w-40 pr-2 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
        <a (click)="handleUploadData()" class="block px-4 py-2 text-sm text-gray-700 cursor-pointer" role="menuitem" aria-hidden="true">
          <ng-icon class="mr-1" name="heroArrowUpTray"></ng-icon>
          Upload Excel
        </a>
      </div>
    </div>
  </div>
  <odin-search-list-heading
    (handleSearch)="handleSearch($event)"
    (handleOpenFiltersModel)="handleOpenFiltersModel()"
    (handleExportData)="handleExportData()"
  ></odin-search-list-heading>
</div>
<div *ngIf="paginatedApiResponse$ | async" class="table-container mt-2">
  <!--Table-->
  <odin-table
    [columns]="columns"
    [columnsSortOrder]="columnsSortOrder"
    [items]="employees"
    [actions]="actions"
    [canDeactivateItem]="true"
    (handleAction)="handleAction($event)"
    (handleSort)="handleSort($event)"
  ></odin-table>

  <!--Pagination-->
  <odin-pagination
    [paginationData]="paginationData"
    (handleChangePagination)="handleChangePagination($event)"
  ></odin-pagination>
</div>

<!--Filters modal-->
<div *ngIf="showFilterModal" class="fixed inset-y-0 z-50 right-0 w-[400px]">
  <odin-employees-filter
    [employees]="employees"
    (handleFilterData)="handleFilterData($event)"
    (handleCloseModal)="toggleModal()"
  ></odin-employees-filter>
</div>
<div
  *ngIf="showFilterModal"
  class="opacity-25 fixed inset-0 z-40 bg-black"
></div>
`
