<odin-page-heading
  [title]="'Departamentos'"
  [links]="breadCrumbsLinks"
></odin-page-heading>

<div *ngIf="department || (department$ | async)" class="rounded-md border bg-gray-50 mt-4 mx-3">
  <div class="font-semibold border-b px-4 py-2">
    <h3>Dados do departamento</h3>
  </div>
  <form [formGroup]="departmentForm" (ngSubmit)="handleSubmit()">
    <div class="form-container mt-4 mx-4">
      <div class="col-span-8 justify-center mt-1">
        <label for="name" class="label">Nome Departamento</label>
        <input type="text"
          id="name"
          formControlName="name"
          class="input-sm" [ngClass]="{'input-error': errorMessage['name']}"
          placeholder="Insira o nome do departamento..."
        />
        <div class="text-error-500 text-sm" *ngIf="errorMessage['name']">
          <span [innerHTML]="errorMessage['name']"></span>
        </div>
      </div>
    </div>
    <div class="form-container border-t mt-6 mb-2 mx-4">
      <button type="button"
        class="button-gray-outlined button-sm col-span-1 row-end-1 col-start-11 mt-2"
        (click)="handleBackButton()">
        Voltar
      </button>
      <button type="submit" class="button-primary button-sm col-span-1 row-end-1 col-start-12 mt-2" [disabled]="departmentForm.invalid">
        Salvar
      </button>
    </div>
  </form>
</div>

