
<aside class="sidebar">
  <div class="p-1 space-y-4 items-center justify-center">
    <button class="brand-link">
      <ng-icon name="heroBars3" size="24" (click)="expandSidebar()"></ng-icon>
    </button>
  </div>
  <div class="p-1 space-y-4 border-t border-gray-700">
    <a class="menu-link" routerLink="home">
      <ng-icon name="heroHome" size="24"></ng-icon>
      <span class="link-text opacity-0">Home</span>
    </a>
    <a class="menu-link" routerLink="employees">
      <ng-icon name="heroUserGroup" size="24"></ng-icon>
      <span class="link-text opacity-0">Funcionários</span>
    </a>
    <a class="menu-link" routerLink="departments">
      <ng-icon name="heroBuildingOffice" size="24"></ng-icon>
      <span class="link-text opacity-0">Departamentos</span>
    </a>
    <a class="menu-link" routerLink="positions">
      <ng-icon name="heroBriefcase" size="24"></ng-icon>
      <span class="link-text opacity-0">Cargos</span>
    </a>
  </div>
</aside>

