.label {
  @apply block
    text-sm
    font-medium
    leading-6
    text-gray-900;
}

.input {
  @apply block
    w-full
    rounded-md
    outline-none
    border
    border-gray-300
    py-2.5
    px-3.5
    text-gray-900
    sm:text-sm
    sm:leading-6
    shadow
    placeholder:text-gray-500
    placeholder:text-base
    focus:-outline-offset-2
    focus:outline-4
    focus:ring-2
    focus:ring-inset;
}

.input-sm{ @apply input h-9 text-sm py-1 px-3.5 mt-1 !important; }
.input-md{ @apply input h-10 text-sm py-2.5 px-4 !important; }
.input-lg{ @apply input h-11 text-base py-2.5 px-4 !important; }
.input-xl{ @apply input h-12 text-base py-3 px-5 !important; }

.input-primary {
  @apply  focus:outline-primary-100 focus:ring-primary-300;
}

.input-error {
  @apply border-2 border-error-300 focus:outline-error-100 focus:ring-error-300;
}

.select-sm {
  @apply input h-9 text-sm pb-1 px-3.5 mt-1 !important;
  padding-top: 0.400rem !important;
}
